<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
</head>
<body>
	<div id="app">
		<ul>
			<li v-for=" todo of todos ">
				{{ todo }}
			</li>
		</ul>
		<div>
			<input type="text" v-model="addNew">
			<button v-on:click="addTodos">add Todos</button>
		</div>
	</div>
	<script>
		var app = new Vue({
			el:"#app",
			data:{
				addNew:"",
				todos:{

				}
			},
			methods:{
				addTodos:function(){
					var newTodo = this.addNew
					this.todos.unshift(newTodo)
				}
			}
		});
	</script>
</body>
</html>
