<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
</head>
<body>
	<div id="app">
		<template v-if=" isLuna > 50 ">
			<h1>ルナだよ</h1>
			<p>ルナの負けだよ</p>
		</template>

		<template v-else>
			<h1>ルナじゃないよ</h1>
			<p>ルナのマゲだよ</p>
		</template>

		<input type="text" v-model="isLuna" placeholder="ルナ度">
	</div>

	<script>
		var app = new Vue({
			el:"#app",
			data:{
				isLuna: 0
			}
		});
	</script>
</body>
</html>
