<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="js/vue.js"></script>
	<style>
		html,body{
			text-align: center;
		}
		.lists{
			margin-top: 3rem;
		}
	</style>
</head>
<body>
	<div class="wrapper">
		<h1>Todo List</h1>
	</div>

	<div id="app">
		<div><input type="text" v-model="newLuna"></div>
		<div><button @click="addLuna">ついかだよ</button></div>

		<div class="lists">
			<div v-for="item in items">
				<button @click="removeLuna(item)">done</button>　{{ item.luna }}
			</div>
			<div v-bind:style="styler">
				<div v-if="newLuna">
					{{ newLuna }}
				</div>
			</div>
		</div>
	</div>

	<script>
		var app = new Vue({
			el:"#app",
			data:{
				styler:{
					color:"#ccc"
				},
				newLuna:"",
				items:[
					//{luna:""}
				]
			},
			methods:{
				addLuna:function(){
					this.items.push({luna: this.newLuna});
					this.newLuna = ""
					//console.log(JSON.stringify(this.items,null,'\t'));
				},
				removeLuna:function(item){
					this.items.splice(item, 1);
				}
			}
		});
	</script>
</body>
</html>
