<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="js/vue.js"></script>
</head>
<body>
	<div id="app">
		<ul>
			<li v-for="todo in todos" v-if="!todo.isComplete">
					{{ todo.task }}
			</li>
		</ul>

		<template v-if="todos2.length">
			<ul>
				<li v-for="todo in todos2">
					{{ todo.task }}
				</li>
			</ul>
		</template>
		<template v-else>
			No todos!
		</template>
	</div>

	<script>
		var app = new Vue({
			el:"#app",
			data:{
				todos:[
					{
						task:"やること",
						isComplete:false
					},
					{
						task:"やること",
						isComplete:true
					}
				],
				todos2:[
					
				]
			},
		});
	</script>
</body>
</html>
