<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="js/vue.js"></script>
</head>
<body>
	<div id="app">
		<ul>
			<li v-for="n in numbers">{{ n }}</li>
		</ul>

		<ul>
			<li v-for="n in evenNumbers(numbers)">{{ n }}</li>
		</ul>

		<ul>
			<li v-for="n in 10">{{ n }}</li>
		</ul>

		<div>
			<button @click="evenNumbers">偶数</button>
		</div>
	</div>

	<script>
		var app = new Vue({
			el:"#app",
			data:{
				 numbers: [ 1, 2, 3, 4, 5 ]
			},
			methods:{
				evenNumbers: function (numbers) {
					return numbers.filter(function(number){
						return number % 2 === 0
					})
				}
			}
		});
	</script>
</body>
</html>
