<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
	<style>
		.wrapper{
			width:80vw;
			margin:0 auto;
			text-align: left;
		}
		.items{
			width: calc(100% / 6);
			display: inline-block;
			vertical-align: top;
		}
	</style>
</head>
<body>
	<div id="app">
		<h1>{{ title }}</h1>

		<div>
			Search
			<input type="text" v-model="searchTxt" @keyup.enter="realTimeSearch">
		</div>

		<div class="wrapper">
			<div class="items" v-if="realTimeSearch(item.name)" v-for="(item,index) in items">
				<div class="itemSingle">
					<div class="itemSingle__img">
						<img :src="item.img" :alt="item.name">
					</div>
					<div class="itemSingle__name">{{ item.name }}</div>
					<div class="itemSingle__price">{{ commaSet(item.price) }}</div>
				</div>
			</div>
		</div>

	</div>

	<script>
		const jsonData = [
			{
				img:"http://placehold.jp/100x100.png",
				name:"商品01",
				price:10000,
				category:"1"
			},
			{
				img:"http://placehold.jp/100x100.png",
				name:"商品02",
				price:2000,
				category:"2",
			},
			{
				img:"http://placehold.jp/100x100.png",
				name:"商品03",
				price:1000000,
				category:"3",
			},
			{
				img:"http://placehold.jp/100x100.png",
				name:"商品04",
				price:10000,
				category:"1",
			},
			{
				img:"http://placehold.jp/100x100.png",
				name:"商品05",
				price:2000,
				category:"2",
			},
			{
				img:"http://placehold.jp/100x100.png",
				name:"アイテム商品01",
				price:2000,
				category:"2",
			},
			{
				img:"http://placehold.jp/100x100.png",
				name:"アイアイテム01",
				price:2000,
				category:"2",
			},
			{
				img:"http://placehold.jp/100x100.png",
				name:"テムテム01",
				price:2000,
				category:"2",
			},
			{
				img:"http://placehold.jp/100x100.png",
				name:"aitem",
				price:2000,
				category:"2",
			},
			{
				img:"http://placehold.jp/100x100.png",
				name:"bitem",
				price:2000,
				category:"2",
			},
			{
				img:"http://placehold.jp/100x100.png",
				name:"citem",
				price:2000,
				category:"2",
			},
		];

		const app = new Vue({
			el:"#app",
			data:{
				searchTxt: '',
				title:"リアルタイム検索",
				items: jsonData
			},
			computed:{
			},
			methods:{
				commaSet:function(price){
					return price.toLocaleString('ja-JP', {"style":"currency", "currency":"JPY"});
				},
				realTimeSearch:function(name){
					var str = name
					if(str.indexOf(this.searchTxt) != -1){
						return true
					}
				}
			}
		});
	</script>
</body>
</html>
