<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
	<style>
		.wrapper{
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			flex-wrap:wrap;
			justify-content: space-between;
			width: 50vw;
			margin: 0 auto;
		}
	</style>
</head>
<body>
	<div id="app">
		<h1>{{ title }}</h1>

		<div>
			<select v-model="searchTxt">
				<option value="">カテゴリー</option>
				<option v-for="(value,key) in categories" :value="key">
					{{ value }}
				</option>
			</select>
		</div>

		<div class="wrapper">
			<div v-if="!searchTxt || searchTxt == item.category" v-for="(item,index) in items">
				<div class="itemSingle">
					<div class="itemSingle__img">
						<img :src="item.img" :alt="item.name">
					</div>
					<div class="itemSingle__name">{{ item.name }}</div>
					<div class="itemSingle__price">{{ commaSet(item.price) }}</div>
				</div>
			</div>
		</div>

	</div>

	<script>
		const jsonData = [
			{
				img:"http://placehold.jp/100x100.png",
				name:"商品01",
				price:10000,
				category:"1"
			},
			{
				img:"http://placehold.jp/100x100.png",
				name:"商品02",
				price:2000,
				category:"2",
			},
			{
				img:"http://placehold.jp/100x100.png",
				name:"商品03",
				price:1000000,
				category:"3",
			},
			{
				img:"http://placehold.jp/100x100.png",
				name:"商品04",
				price:10000,
				category:"1",
			},
			{
				img:"http://placehold.jp/100x100.png",
				name:"商品05",
				price:2000,
				category:"2",
			},
		];

		const app = new Vue({
			el:"#app",
			data:{
				searchTxt: '',
				categories: {
				    1:'カテゴリー1',
				    2:'カテゴリー2',
				    3:'カテゴリー3'
				},
				title:"配列との戦い　-その歴史2-",
				items: jsonData
			},
			computed:{
			},
			methods:{
				commaSet:function(price){
					return price.toLocaleString('ja-JP', {"style":"currency", "currency":"JPY"});
				}
			}
		});
	</script>
</body>
</html>
