<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
	<div id="app">
		<div>
			<div>
				姓: <input type="text" v-model="info.name01">
				名: <input type="text" v-model="info.name02">
			</div>
			<input type="checkbox" id="jack" value="jack" v-model="checkedNames">
			<label for="jack">Jack</label>

			<input type="checkbox" id="john" value="john" v-model="checkedNames">
			<label for="john">John</label>

			<input type="checkbox" id="mike" value="mike" v-model="checkedNames">
			<label for="mike">Mike</label>

			<div class="">
				入力内容を確認します
				name : {{ info.name }}
			</div>
		</div>

		<div>
	</div>
	<script>
		const app = new Vue({
			el:"#app",
			data:{
				info:{
					name01:"",
					name02:"",
					address00:"",
					address01:"",
					address02:"",
					checkedNames:[]
				}
			}
		});
	</script>
</body>
</html>
