<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>danbooruer</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/danbooru.css">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue"></script>
</head>
<body>
	<div id="app">
		<template v-if="isLoading">
			<div class="loading">
				<div class="spinner">
				  <div class="rect1"></div>
				  <div class="rect2"></div>
				  <div class="rect3"></div>
				  <div class="rect4"></div>
				  <div class="rect5"></div>
				</div>
			</div>
		</template>

		<header>
			<div class="titleWrap">
				<h1 class="titleWrap__single"><a @click.prevent="tagReset()">danbooruer</a></h1>
			</div>

			<div class="seacher">
				<input v-model="tags" @keyup.enter="tagsSearch(tags)" placeholder="ex:large_*">
			</div>
		</header>

		<div class="wrapper">
			<template v-show="tags">
				<div class="tagName">
					<a :href="tagPageLink(tags)" target="_blank">
						{{ tags }}
					</a>
				</div>
			</template>

			<div class="postsWrap">
				<template v-if="jsonData.length">
					<div class="postsWrap__single" v-for="item in jsonData" v-show="item.preview_file_url">
						<div class="postImg">
							<div>
								<a :href="item.id" target="_blank">
									<img :src="item.preview_file_url" alt="">
								</a>
							</div>
						</div>

						<div class="postChainer">
							<div class="postChainer__single" v-show="item.tag_string_character" @click="tagsCheck(item.tag_string_character)">
								he / she!
							</div>
							<div class="postChainer__single" v-show="item.tag_string_artist" @click="tagsCheck(item.tag_string_artist)">
								this artist!
							</div>
							<div class="postChainer__single" v-show="item.tag_string_copyright" @click="tagsCheck(item.tag_string_copyright)">
								this copyright!
							</div>
						</div>
					</div>
				</template>

				<template v-else>
					<div class="notFound">
						<img src="img/notfound.jpg" alt="そんなもの ウチにはないよ…">
					</div>
				</template>

			</div>
		</div>
	</div>

<script>
	const danbooru = "https://danbooru.donmai.us";
	const app = new Vue({
		el:"#app",
		data:{
			isLoading:"",
			isMovie:"",
			tags:"",
			url:danbooru+"/"+"posts.json?limit=105",
			modalUrl:"",
			jsonData:"",
			modalSwitch:false
		},
		mounted:function(){
			this.getPosts(this.url);
		},
		methods:{
			getPosts:function(url){
				//ajaxでjsonを取得
				this.setLoading("on");
				axios.get(url)
				.then(response => {
					this.setLoading("off");
					this.jsonData = response.data;
					this.jsonData.map(function(value){
						if(value["preview_file_url"] != undefined){
							value["preview_file_url"] = danbooru+"/"+value["preview_file_url"];
						}
						if(value["large_file_url"] != undefined){
							if( value["large_file_url"].match(/mp4|webm/) ){
								value["large_file_url"] = value["preview_file_url"];
							} else{
								value["large_file_url"] = danbooru+value["large_file_url"];
							}
						}
						value["file_url"] = danbooru+value["file_url"];
						value["id"] = danbooru+"/"+"posts/"+value["id"];
						return value;
					});
				});
			},
			tagsSearch:function(tags){
				//タグを渡してgetPostsを再実行
				this.tags = tags;
				this.url = danbooru + "/" +"posts.json?limit=105&tags="+this.tags;
				this.getPosts(this.url);
			},
			tagsCheck:function(tags){
				//タグにスペースが入っていた場合、先頭文字列のみにトリミング
				if(~tags.indexOf("\u0020")){
					this.tags = tags.substring(0,tags.indexOf("\u0020"));
				} else{
					this.tags = tags
				}
				this.tagsSearch(this.tags);
			},
			tagPageLink:function(tags){
				//タグページへのリンクを生成
				var utf8str = encodeURI(tags);
				return danbooru + "/" + "?tags=" + utf8str;
			},
			setLoading:function(status){
				//ローディングのon/off
				if( status == "on" ){
					this.isLoading = true;
				} else if(status == "off"){
					this.isLoading = false;
				}
			},
			tagReset:function(){
				this.tags = ""
				this.getPosts(danbooru+"/"+"posts.json?limit=105");
			}
		}
	});
</script>
</body>
</html>
